body {
  overflow-y: scroll;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.15rem;
  text-align: center;
  background: rgb(0, 0, 0);
  color: rgb(175, 175, 175);
}

#content {
  max-width: 42em;
}

h1, h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 {
  font-size: 3.5em;
}
h2 {
  color: #888;
  font-size: 2em;
}

a {
  text-decoration: none;
  color:inherit;
}

.active {
  color:aqua;
}

a:hover {
  color:aqua;
}

.card{
  background-color: inherit;
  border-color: rgb(175, 175, 175);
}

.col {
  margin: 0;
  padding:calc(var(--bs-gutter-x)/ 4);
}

#socials {
  margin-top: auto;
  display: flex;
}

#project_cards {
  text-align: left;
  font-size: 1rem;
}

.replace {
  display:none;
}

.hoverable:hover span.init {
  display:none;
}

.hoverable:hover span.replace {
  display:inline;
}

.txt-typewriter {
  border-right: 0.08em solid #666;
  animation: blinkTextCursor 800ms steps(29,end) infinite;
}

@keyframes blinkTextCursor {

  from {border-right-color: rgb(255, 255, 255);}

  to {border-right-color: transparent;}

}