{% extends 'base.html' %}
{% set active_page = "index" %}
{% block title %}Garrett Bauer{% endblock %}

{% block content %}
<div id="title">
    <h1 id="fullName"><span
        class="txt-typewriter"
        data-typewrite="Garrett Bauer"></span>
    </h1>
    <h2 id="subTitle">Software Engineer<br>@Akasa</h2>
</div>
<div class="row my-3" id="socials">
    <div class="col-sm">
        <a class="hoverable" href="https://github.com/gbauer9" >
            <span class="init">Github</span><span class="replace">>Github</span>
        </a>
    </div>
    <div class="col-sm">
        <a class="hoverable" href="https://www.linkedin.com/in/gbauer9/">
            <span class="init">LinkedIn</span><span class="replace">>LinkedIn</span>
        </a>
    </div>
    <div class="col-sm">
        <a class="hoverable" href="mailto:bauer.garrett9@gmail.com">
            <span class="init">Email</span><span class="replace">>Email</span>
        </a>
    </div>
</div>
{% endblock %}