{% extends 'base.html' %}
{% set active_page = "projects" %}
<!--
    TODO: Add cards for each project
-->
{% block title %}Projects{% endblock %}

{% block content %}
{% for row in projects|batch(3) %}
<div class="card-deck mb-auto text-dark">
    <div class="row">
    {% for project in row %}
    <div class="col-sm-4 d-flex align-items-stretch">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ project[0] }}</h5>
                <p class="card-text">{{ project[1] }}</p>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endfor %}
{% endblock %}