body {
  overflow-y: scroll;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.15rem;
  text-align: center;
  background: rgb(0, 0, 0);
  color: rgb(175, 175, 175);
}

#content {
  max-width: 42em;
}

h1, h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 {
  font-size: 3.5em;
}
h2 {
  color: #888;
  font-size: 2em;
}

a {
  text-decoration: none;
  color:inherit;
}

.active {
  color:aqua;
}

a:hover {
  color:aqua;
}