html {
  height: 100%;
  width: 100%;
}
body {
  height: inherit;
  width: inherit;
  overflow-y: scroll;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.15rem;
  text-align: center;
  background: rgb(0, 0, 0);
  color: rgb(175, 175, 175);
}

#root {
  height: inherit;
  width: inherit;
  display: flex;
  flex-direction: column;
}

#navBar {
  min-height: 10%;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

#navBar a {
  display: block;
  padding: 1em;
}

h1, h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 {
  font-size: 3.5em;
}
h2 {
  color: #888;
  font-size: 2em;
}

a {
  text-decoration: none;
  color:inherit;
}

.active {
  color:aqua;
}

a:hover {
  color:aqua;
}

footer {
  margin-top: auto;
  bottom: 0;
  width: 100%;
}

.typicalWrapper::after {
  content: "|";
  animation: blink 1s infinite step-start;
}

@keyframes blink {
  50% { opacity: 0; }
}